
th {
    height: 15px;
    width: 25px;
    text-align: center;
}

.infoBlock {
    height: auto;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
    background-color: #fff;
    opacity: 0.9;
    overflow: hidden;
}

.form-tabs {
    width: 100px;
    height: 80px;
    position: relative;
    top: 150px;
    border-radius: 30px;
    background: #ffffff;
    border: solid 0.5px rgba(91, 128, 93, 0.73);
}

.form-tabs:hover {
    box-shadow: 0 0 4px 1px rgba(91, 128, 93, 0.73);
    border-bottom: 0px;
}

.form-tabs__slider {
    position: relative;
    height: 40px;
    width: 100px;
    background: linear-gradient(to bottom, #ff1632, #3575b8);
    border-radius: 30px;
    transition: 0.7s;
    box-shadow: 0 0 5px 2px rgba(91, 128, 93, 0.73);
    opacity: 1;
}

.form-tabs__btn {
    position: relative;
    top: -35px;
    padding: 10px 45px;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 30px;
    outline: none;
    font-size: 0.8rem;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
    transition: 0.9s;
}

.form-tabs__btn_data {
    color: #ECEFF1;
    padding-left: 30px;
    padding-right: 10px;
}

.form-tabs__btn_event {
    padding-left: 30px;
    padding-right: 10px;
}

.form-data {
    position: relative;
    top: -520px;
    left: 0;
    margin-left: 115px;
    margin-top: 20px;
    transition: 0.1s;
}

.form-event {
    position: relative;
    top: -145px;
    left: 0px;
    margin-left: 115px;
    margin-top: 20px;
    transition: 0.1s;
}

.credentials-form-item {
    position: relative;
    margin-bottom: 50px;
}

/*.muted{*/
/*    background-color: rgba(246, 215, 159, 0.51);*/
/*    font-style: italic;*/
/*}*/

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.calendar {
    margin: 10px;
    color: #757575;
    font-family: Tahoma;
    font-size: 12px;
}

.bc_title {
    font-family: "PT Sans Caption";
    color: #061f37;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 8px 15px;
    background: #fdfdfd;
    border-left: solid 1px #e1e1e1;
    border-top: solid 1px #e1e1e1;
    border-right: solid 1px #e1e1e1;
    letter-spacing: 1px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}

.calendar td, th {
    font-family: verdana, serif;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 4px;
}

.weekday {
    color: #804040;
    font-family: verdana;
}

.day-active {
    color: #a52a2a;
    font-family: verdana;
}

.day-active-v {
    color: #4b73d4;
}

.monthlink {
    color: #9d4d50;
    text-decoration: none;
}

div {
    display: block;
}

.bc {
    border: solid 1px #e1e1e1;
    background: #fff;
    margin-bottom: 20px;
}

center {
    display: block;
    text-align: -webkit-center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    border-color: grey;
}

a {
    text-decoration: none;
    color: #000;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.day-current {
    background: #F9F9F9;
    border: 1px solid #c7c7c7;
}
