.array {
    border: 1px solid gray;
}

.logoImg{
    max-width: 100%;
    max-height: 100%;
}

/*.mainArray{*/
/*    margin: 0;*/
/*    padding: 0;*/

/*}*/

.logo{
    height: 7em;
    background: -webkit-linear-gradient(left, #3575b8, #ff1632);
}

.date2 > p {
    margin: 0;
    text-align: right;
}

.events {
    margin-left: 5%;
}

.events > p {
    padding: 0px;
    text-align: center;
}

.addEvent > img {
    margin-top: 10%;
    width: 20px;
    height: 20px;
}

.addEvent > p {
    margin: 0 auto;
    padding: 5px;
}

.addEvent {
    margin-right: 20px;
    border: 1px solid gray;
}

.eventList > img {
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.eventList > p {
    margin: 0 auto;
    padding: 5px;
}

.eventList {
    border: 1px solid gray;
    text-align: center;
}

/*.mainArray {*/
/*    margin-bottom: 5%;*/
/*}*/

.concertPic {
    padding: 0;
}


.concertJpg {
    max-width: 100%;
    max-height: 100%;
}

.btn:hover {
    opacity: 75%;
}

.form-control {
    border-radius: 0px;
}


