body {
    margin-left: 5em;
    margin-right: 5em;
    background-color: #f3f4f4;
    height: auto;
}

html{
    background-color: #3575b8;
    height: 100%;

}

.cal {
    margin-left: auto;
}

.pages {
    margin-top: 3em;
}
.nextBtn {
    border: 1px solid gray;
}